<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="cadastrarServico()">
                <i class="fa fa-plus"></i>Novo</button>
        </div>
    </div>
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome do Cliente.:</label>
                <input type="text" id="inputNome" name="nome" [(ngModel)]="nome" class="form-controls">
            </div>
            <div class="col-md-6">
                <label for="inputMes">Mês.:</label>
                <select name="" id="" [(ngModel)]="mes" class="form-control" name="mes">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [value]="mes">
                        {{ mes }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-warning">
                    <i class="fa fa-search"></i> Consultar
                </button>
            </div>
        </div>
    </form>
</div>

<br>
    <div class="row">
        <div class="col-md-12">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>DESCRIÇÃO</th>
                <th>VALOR</th>
                <th>DATA</th>
                <th>CLIENTE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let servico of servicos">
                 <td>{{ servico.id }}</td>
                 <td>{{ servico.descricao }}</td>
                 <td>{{ servico.valor }}</td>
                 <td>{{ servico.data }}</td>
                 <td>{{ servico.cliente.nome }}</td>
                 <td>
                    <button class="btn btn-primary" routerLink="/servicos-form/{{servico.id}}">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger ml-1" 
                    (click)="preDelete(servico)"
                    data-toggle="modal" 
                    data-target="#deleteModal">
                        <i class="fa fa-trash"></i>
                    </button>
                 </td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>
