<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
<div class="row">
    <form #servicoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Cliente:</label>
                <select class="form-control" 
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="servico.idCliente">
                 <option value="">Selecione...</option>
                 <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                 {{ cliente.nome }}
                 </option>
                </select>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição:</label>
                    <input class="form-control"
                    [(ngModel)]="servico.descricao" 
                    type="text" name="descricao" 
                    id="inputDescricao">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor:</label>
                    <input class="form-control"
                    [(ngModel)]="servico.valor" 
                    type="text" name="valor" 
                    id="inputValor">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data:</label>
                    <input class="form-control"
                    [(ngModel)]="servico.data" 
                    type="text" name="data" 
                    id="inputData">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md-3">
                <button class="btn btn-success" type="submit" *ngIf="!servico.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button class="btn btn-primary" type="submit" *ngIf="servico.id">
                    <i class="fa sync-alt"></i> Atualizar
                </button>
    
                <button class="btn btn-warning ml-1" (click)="voltar()">
                    <i class="fa fa-arrow-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>  
</div>  